{% extends "layout.html" %}

{% block content %}


  <div class="">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img id="random_pic" src="" height="200">
          <span class="card-title">{{ question.title| safe }}</span>
        </div>
        <div class="card-content">
          <p>{{ question.content | safe }}</p>
        </div>
        <div class="card-action">
          来源：<a class="mdl-button" href="{{ question.url }}">{{ question.url }}</a>
        </div>
      </div>
    </div>
  </div>


  <h3>共有{{ question.answer_count }}个答案</h3>
    {% for answer in question.answers %}
        <div class="col s12 m6 z-depth-2">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <p>{{ answer.answer_text | safe }}</p>
            </div>
            <div class="card-action">
              {% if answer.is_accepted %}
                  <p>该答案已被采纳</p>
              {% endif %}
              <p>赞成数量{{ answer.answer_votes }}</p>
            </div>

          </div>
        </div>
    {% endfor %}


    <script>
        $(document).ready(function(){
            var index = Math.ceil(Math.random()*4+1);
            document.getElementById("random_pic").src="../static/img/random/"+index+".png";
        });
    </script>

{% endblock %}